    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/" ng-click="SetPage('dashboard')">Home</a><img src="assets/img/GrateHorizontal.png" alt="Restaurants" style="width:120px;height:40px;">
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
              
              <li><a href="#/profile" class="glyphicon glyphicon-user" ng-click="SetPage('profile')">  PROFILE</a></li> 
              <li><a href="#/account" class="glyphicon glyphicon-euro" ng-click="SetPage('account')">  ACCOUNT</a></li> 
                 <li><a href="#/notification" class="glyphicon glyphicon-envelope" ng-click="SetPage('notification')">  NOTIFICATION</a></li>      
          </ul>
        </div><!--/.nav-collapse -->
          
      </div>
    </div>


<div class="container_dasbboard">
   

            <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Restaurants
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            <p>
                                
                                
                                 <a href="#/restaurant" ng-click="SetPage('restaurant')" class="btn btn-primary btn-lg">View restaurant</a>
                              
                            </p>
                        </div>
                        <!-- /.panel-body -->
                    </div>
            </div>
    <div class="col-md-4">
                                <div class="panel panel-default">
                        <div class="panel-heading">
                          Dishes and Grate Reviews 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            <p>
                               
                                  <a href="#/grate" ng-click="SetPage('menu_ratings')" class="btn btn-primary btn-lg">View your Dishes and Reviews</a>
                            </p>
                        </div>
                        <!-- /.panel-body -->
                    </div>
    </div>
    <div class="col-md-4">
                      
                                <div class="panel panel-default">
                        <div class="panel-heading">
                            Featured
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            <p>
                              
                                 <a href="#/featured" ng-click="SetPage('featured')" class="btn btn-primary btn-lg">View posts</a>
                            </p>
                        </div>
                        <!-- /.panel-body -->
                    </div>
    </div>
    

    <div class="col-md-4">
                      
                                <div class="panel panel-default">
                        <div class="panel-heading">
                            Events
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            <p>
                              
                                  <a href="#/events" ng-click="SetPage('events')" class="btn btn-primary btn-lg">Events</a>
                               
                            </p>
                        </div>
                        <!-- /.panel-body -->
                    </div>  
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
                        <div class="panel-heading">
                            Campaigns 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            <p>
                               
                                 <a href="#/campaigns" ng-click="SetPage('campaigns')" class="btn btn-primary btn-lg">Campaigns</a>
                            </p>
                        </div>
                        <!-- /.panel-body -->
                    </div>
    </div>
    <div class="col-md-4">
                      
                                <div class="panel panel-default">
                        <div class="panel-heading">
                            Coupons and Vouchers 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            <p>
                           
                                <a href="#/couponsandvouchers" ng-click="SetPage('coupons_vouchers')" class="btn btn-primary btn-lg">Coupons and Vouchers</a>
                               
                            </p>
                        </div>
                        <!-- /.panel-body -->
                    </div>
    </div>
    
                   
                        <!-- /.panel-body -->
           
                    <!-- /.panel -->
             
</div>