    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/" ng-click="SetPage('dashboard')">Home</a><img src="assets/img/GrateHorizontal.png" alt="Home" style="width:120px;height:40px;">
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
              
              <li><a href="#/profile" class="glyphicon glyphicon-user" ng-click="SetPage('profile')">  PROFILE</a></li> 
              <li><a href="#/account" class="glyphicon glyphicon-euro" ng-click="SetPage('account')">  ACCOUNT</a></li> 
               <li><a href="#/reports" class="glyphicon glyphicon-euro" ng-click="SetPage('reports')">  REPORTS</a></li> 
              
                 <li><a href="#/notification" class="glyphicon glyphicon-envelope" ng-click="SetPage('notification')">  NOTIFICATION</a></li>      
          </ul>
        </div><!--/.nav-collapse -->
          
      </div>
    </div>


<div class="container_login">
   
<div class ="row"> 
            <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title"> Restaurants</h3>
                           
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                             <img src="assets/img/rest.png" alt="Restaurants" style="width:200px;height:200px;">
                                    
                           <br>
                           
                                 <a href="#/restaurant" ng-click="SetPage('restaurant')" class="btn btn-primary btn-lg">View restaurant</a>
                              
                          
                        </div>
                        <!-- /.panel-body -->
                             <div class="panel-footer">
                               Here you can view your restaurant and add more restaurants 
                        </div>
                    </div>
            </div>
            </div>
    
  

    
        <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <h3 class="panel-title"> Dishes and Grate Reviews </h3> 
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <img src="assets/img/dishes.png" alt="Dishes" style="width:200px;height:200px;">
                          <br>
                                  <a href="#/grate" ng-click="SetPage('menu_ratings')" class="btn btn-primary btn-lg">View your Dishes and Reviews</a>
                            
                        </div>
                        <!-- /.panel-body -->
                                    <div class="panel-footer">        
                                        Here you can view all your restaurants Gratings and reviews 
                                    </div>
                    </div>
                </div>
        </div>
    
    
    <div class="col-md-4">                
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Featured  Posts </h3>                      
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <img src="assets/img/inapp.png" alt="In App" style="width:200px;height:200px;">
                            <br>         
                            <a href="#/featured" ng-click="SetPage('featured')" class="btn btn-primary btn-lg">View posts</a>      
                        </div>
                        <!-- /.panel-body -->
                               <div class="panel-footer">  
                                    Reach millions of foodies on the Grate App
                                </div>
                        </div>
                </div>
    </div>
    

    <div class="col-md-4">
            <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title"> Events </h3>  
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <img src="assets/img/events.png" alt="events" style="width:200px;height:200px;">
                            <br>
                                  <a href="#/events" ng-click="SetPage('events')" class="btn btn-primary btn-lg">Events</a>
                        </div>
                        <!-- /.panel-body -->
                                 <div class="panel-footer">  
                                    Create foodie events to drive traffic to your restaurant 
                                </div>
                        </div>  
            </div>
    </div>
        
    <div class="col-md-4">
        <div class="panel panel-default">
                        <div class="panel-heading">
                           <h3 class="panel-title">Campaigns</h3> 
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          <img src="assets/img/camp.png" alt="SMS" style="width:200px;height:200px;">
                            <br>
                          
                                 <a href="#/campaigns" ng-click="SetPage('campaigns')" class="btn btn-primary btn-lg">Campaigns</a>
                          
                        </div>
                        <!-- /.panel-body -->
                            <div class="panel-footer">  
                               Get more foot traffic into your restaurant 
                            </div>
                    </div>
    </div>
    </div>
        
    <div class="col-md-4">   
        <div class="panel panel-default">
                        <div class="panel-heading">
                                <h3 class="panel-title">Coupons and Vouchers </h3>
                        <!-- /.panel-heading -->
                            <div class="panel-body">
                              <img src="assets/img/coup.png" alt="SMS" style="width:200px;height:200px;">
                                <br>
                                    <a href="#/couponsandvouchers" ng-click="SetPage('coupons_vouchers')" class="btn btn-primary btn-lg">Coupons and Vouchers</a>

                                </p>
                            </div>
                        <!-- /.panel-body -->
                                  <div class="panel-footer"> 
                                      Drive more traffic and get customers to keep coming back to your restaurant 
                                    </div>
                        </div>
        </div>
    </div>
    
           
</div>
</div>