<div class="container_preauthentification">
        

        <div class="panel panel-default">
                        <div class="panel-heading">
                           Awaiting for confirmation  
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          
                            <div class="alert alert-warning">
                                Awaiting for your email to be confirmed and account to be activated <a href="#/dashboard" ng-click="SetPage('dashboard')" class="alert-link" >Confirm Account</a>.
                            </div>
                           
                        </div>
                        <!-- .panel-body -->
        </div>
  
</div>