
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/" ng-click="SetPage('dashboard')">Home</a><img src="assets/img/GrateHorizontal.png" alt="Restaurants" style="width:120px;height:40px;">
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
              
           <li><a href="#/profile" class="glyphicon glyphicon-user" ng-click="SetPage('profile')">  PROFILE</a></li> 
              <li><a href="#/account" class="glyphicon glyphicon-euro" ng-click="SetPage('account')">  ACCOUNT</a></li> 
               <li><a href="#/reports" class="glyphicon glyphicon-euro" ng-click="SetPage('reports')">  REPORTS</a></li> 
              
                 <li><a href="#/notification" class="glyphicon glyphicon-envelope" ng-click="SetPage('notification')">  NOTIFICATION</a></li>   
  
          </ul>
        </div><!--/.nav-collapse -->
          
      </div>
    </div>
<div class="container_login">
              <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Here you can view the Grate State of Restuarants Report
                        </div>

        <div class="row">
            <div class="col-lg-3">   <!--sms campaign-->
             <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Report</h3>
                   
                        <div class="panel-body">
                        <form role="form">
                            <fieldset>
                              <p>What is happening in the food world? Whats popular? whats trending</p>
                                <div class="form-group">
                                  
                                 <img src="assets/img/report.png" alt="SMS" style="width:200px;height:200px;">
                                    <br>
                                     
                                    <a href="#/grate" ng-click="SetPage('pay')" class="btn btn-primary">View</a>
                                    
                              
                                </div>
                           </form>      
                        </div>
                        <div class="panel-footer">
                     <p></p>
                        </div>
                            
                    </div>
                        
            </div>
        </div>
                
            </div>
                        </div>
                    </div>

                
                  </div>     
            


 </div>
 