<div class="container_login">   
     <div class="row">
            <div class="col-md-4 col-md-offset-4">
            
                    <div class="panel-heading">
                        <h3 class="panel-title"> Enter Campaign details</h3>
                   
                        <div class="panel-body">
                        <form role="form">
                            <fieldset>
                              <spa>Details</spa>
                                <div class="form-group">
                                  <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Name" name="emailcamp_name" type="text" id="emailcamp_name">
                                </div>
                                     <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Description 1000 characters" name="emailcamp_description" id="emailcamp_description"type="text">
                                </div>
                                    <span>Location</span>
                                     <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Country" name="emailcamp_country" id="emailcamp_country"type="text">
                                </div>
                                    
                                       <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Province" name="emailcamp_province" id="emailcamp_province"type="text">
                                </div>
                                <span>Date</span>
                                     <div class="form-group">
                                    <input class="form-control" placeholder="Start Date" name="emailcamp_sdate" id="emailcamp_sdate"type="date">
                                </div>
                                    
                                       <div class="form-group">
                                   <input class="form-control" placeholder="End Date" name="emailcamp_edate" id="emailcamp_edate"type="date">
                                </div>
                                    <span>Upload campaign image</span>
                                            <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Image" name="emailcamp_image" id="emailcamp_image"type="file">
                                </div>
                                    <span>How much it will cost you</span>
                                      <div class="form-group">
                                    <outut class="form-control" placeholder="Campaign Cost" name="emailcamp_cost" id="emailcamp_cost"type="text">
                                </div> 
                                    
                                       
                                  
                                     <a href="#/pay.html" ng-click="SetPage('pay')" class="btn btn-primary">Pay</a>
                                    
                              
                                </div>
                           </form>      
                        </div>
                    </div>
            </div>
            </div>
    </div>