<div class="container_login">   
     <div class="row">
            <div class="col-md-4 col-md-offset-4">
            
                    <div class="panel-heading">
                        <h3 class="panel-title"> Enter Campaign details</h3>
                   
                        <div class="panel-body">
                        <form role="form">
                            <fieldset>
                              <spa>Details</spa>
                                <div class="form-group">
                                  <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Name" name="inappcamp_name" type="text" id="inappcamp_name">
                                </div>
                                     <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Description 1000 characters" name="inappcamp_description" id="inappcamp_description"type="text">
                                </div>
                                    <span>Location</span>
                                     <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Country" name="inappcamp_country" id="inappcamp_country"type="text">
                                </div>
                                    
                                       <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Province" name="inappcamp_province" id="inappcamp_province"type="text">
                                </div>
                                                   <span>Date</span>
                                     <div class="form-group">
                                    <input class="form-control" placeholder="Start Date" name="inappcamp_sdate" id="inappcamp_sdate"type="date">
                                </div>
                                    
                                       <div class="form-group">
                                   <input class="form-control" placeholder="End Date" name="inappcamp_edate" id="inappcamp_edate"type="date">
                                </div>
                                     <span>Upload Campaign Image</span>
                                            <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Image" name="inappcamp_image" id="inappcamp_image"type="file">
                                </div>
                                    <span>How much it will cost you</span>
                                      <div class="form-group">
                                    <output class="form-control" placeholder="Campaign Cost" name="inappcamp_cost" id="inappcamp_cost"type="text">
                                </div> 
                                    
                                       
                                  
                                     <a href="#/pay.html" ng-click="SetPage('pay')" class="btn btn-primary">Pay</a>
                                    
                              
                                </div>
                           </form>      
                        </div>
                    </div>
            </div>
            </div>
    </div>