<div class="container_login">   
     <div class="row">
            <div class="col-md-4 col-md-offset-4">
            
                    <div class="panel-heading">
                        <h3 class="panel-title"> Enter Campaign details</h3>
                   
                        <div class="panel-body">
                        <form role="form">
                            <fieldset>
                              <spa>Details</spa>
                                <div class="form-group">
                                  <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Name" name="pushcamp_name" type="text" id="pushcamp_name">
                                </div>
                                     <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Description 300 characters" name="pushcamp_description" id="pushcamp_description"type="text">
                                </div>
                                    <span>Location</span>
                                     <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Country" name="pushcamp_country" id="pushcamp_country"type="text">
                                </div>
                                    
                                       <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Province" name="pushcamp_province" id="pushcamp_province"type="text">
                                </div>
                                                   <span>Date</span>
                                     <div class="form-group">
                                    <input class="form-control" placeholder="Start Date" name="pushcamp_sdate" id="pushcamp_sdate"type="date">
                                </div>
                                    
                                       <div class="form-group">
                                   <input class="form-control" placeholder="End Date" name="pushcamp_edate" id="pushcamp_edate"type="date">
                                </div>
                                      <span>Upload Campaign Image</span>
                                            <div class="form-group">
                                    <input class="form-control" placeholder="Campaign Image" name="pushcamp_image" id="pushcamp_image"type="file">
                                </div>
                                      <span>How much it will cost you</span>
                                      <div class="form-group">
                                    <output class="form-control" placeholder="Campaign Cost" name="pushcamp_cost" id="pushcamp_cost"type="text">
                                </div> 
                                    
                                    
                                       
                                  
                                     <a href="#/pay.html" ng-click="SetPage('pay')" class="btn btn-primary">Pay</a>
                                    
                              
                                </div>
                           </form>      
                        </div>
                    </div>
            </div>
            </div>
    </div>