<div class="container_login">   
     <div class="row">
            <div class="col-md-4 col-md-offset-4">
            
                    <div class="panel-heading">
                        <h3 class="panel-title"> Enter Campaign details</h3>
                   
                        <div class="panel-body">
                        <form role="form">
                            <fieldset>
                              <spa>Details</spa>
                                <div class="form-group">
                                  <div class="form-group">
                                    <input class="form-control" placeholder="SMS Campaign Name" name="smscamp_name" type="text" id="smscamp_name">
                                </div>
                                     <div class="form-group">
                                    <input class="form-control" placeholder="SMS Campaign Description" name="smscamp_description" id="smscamp_description"type="text">
                                </div>
                                    <span>Location</span>
                                     <div class="form-group">
                                    <input class="form-control" placeholder="SMS Campaign Country" name="smscamp_country" id="smscamp_country"type="text">
                                </div>
                                    
                                       <div class="form-group">
                                    <input class="form-control" placeholder="SMS Campaign Province" name="smscamp_province" id="smscamp_province"type="text">
                                </div>
                                 <span>Date</span>
                                     <div class="form-group">
                                    <input class="form-control" placeholder="Start Date" name="feature_sdate" id="feature_sdate"type="date">
                                </div>
                                    
                                       <div class="form-group">
                                   <input class="form-control" placeholder="End Date" name="feature_edate" id="feature_edate"type="date">
                                </div>
                                      <span>How much it will cost you</span>
                                      <div class="form-group">
                                    <output class="form-control" placeholder="SMS Campaign Cost" name="smscamp_cost" id="smscamp_cost"type="text">
                                </div> 
                                       
                                  
                                     <a href="#/pay.html" ng-click="SetPage('pay')" class="btn btn-primary">Pay</a>
                                    
                              
                                </div>
                           </form>      
                        </div>
                    </div>
            </div>
            </div>
    </div>