<div class="container_login">
     <!--owner details--> 
     <div class="row">                
                <div class="class="col-md-4 col-md-offset-4"">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Claim request 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                      
                            <div class="alert alert-info">
                                Please wait while we verify your claim request  <a href="#" class="alert-link">Alert Link</a>.
                            </div>
                     
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
    </div>
</div>
         